#step-holder {
font-family: Tahoma;
	height:39px;
	margin-bottom: 20px;
}	
.step-no {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
}

.step-no-off {
	float:left;
	height:29px;
	width:18px;
	font-size: 18px;
	line-height: 18px;
	padding:10px 0 0 0;
	text-align: center;
	color:#cbcbcb;
}

.step-dark-left {
	float:left;
	 
	background: url(../images/forms/step_dark_left.gif) no-repeat;
	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-left a{
	 
	font-size: 13px;
	color:#fff;
	font-weight: bold;
}

.step-dark-right {
	float:left;
	width:12px;
	background: url(../images/forms/step_dark_right.gif) no-repeat;
	height:39px;
}
.step-dark-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/forms/step_dark_round.gif) no-repeat;
}

.step-light-left {
	float:left;
	 	height:27px;
	padding:13px 15px 0 25px;
	font-size: 13px;
	background: url(../images/forms/step_light_left.gif) no-repeat;
	height:39px;
	color:#cbcbcb;
	font-weight: bold;
}

.step-light-left a{
	 
	 
	font-size: 13px;
 
	color:#cbcbcb;
	font-weight: bold;
}
.step-light-right {
	float:left;
	width:12px;
	background: url(../images/forms/step_light_right.gif) no-repeat;
	height:39px;
}
.step-light-round {
	float:left;
	width:8px;
	height:39px;
	background: url(../images/forms/step_light_round.gif) no-repeat;
}

.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 5px;
	background: url(../images/forms/bubble_left.gif) no-repeat;
}

.bubble-inner {
	float:left;
	padding: 7px 0px 0 2px;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:22px;
	background: url(../images/forms/bubble_inner.gif) repeat-x;
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url(../images/forms/bubble_right.gif) right no-repeat;
}
.error-left {
	float:left;
	width:13px;
	height:32px;
	margin-left: 5px;
	background: url(../images/forms/error_left.gif) no-repeat;
}

.error-inner {
	float:left;
	padding: 7px 10px 0 4px;
	color:#fff; 
	line-height: 14px;
	height:25px;
	background: url(../images/forms/error_right.gif) right  no-repeat;
}
.file_1 {
	border: 1px solid #acacac;
	padding: 5px;
}	
 
/*  NAVIGATION ----------------------------------------------- */
#nav-holder	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 780px;
	text-align: left;
	}
.nav-outer-repeat	{
	background: url(../images/shared/nav/repeat.jpg) repeat-x;
	height: 77px;
	}
.nav-outer	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	}
#nav-right	{
	float: right;
	position: relative;
	width: 225px;
	z-index: 0;
	}
#nav-right a	{
	display: block;
	float: left;
	margin: 0px 0 0 0;
	}
.account-content	{
	background: #454545 url(../images/shared/nav/account_drop_bg.gif) no-repeat bottom;
	display: none;
	left: 5px;
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px;
	}
.account-drop-inner	{
	font-size: 0px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
	}
.showhide-account	{
	cursor: pointer;
	display: block;
	float: left;
	margin: 10px 5px 0 5px;
	}
.account-drop-inner a	{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}
.account-drop-inner a:hover	{
	color: #94b52c;
	}
.acc-line	{
	background: url(../images/shared/nav/account_line.gif) no-repeat 0 7px;
	font-size: 0px;
	height: 14px;
	line-height: 0px;
	margin-top: 0px;
	padding: 0;
	}
a#logout	{
	margin: 10px 0 0 5px;
	}
a#acc-settings	{
	background: url(../images/shared/nav/icon_acc_settings.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-details	{
	background: url(../images/shared/nav/icon_acc_personal.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-project	{
	background: url(../images/shared/nav/icon_acc_projects.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-inbox	{
	background: url(../images/shared/nav/icon_acc_inbox.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-stats	{
	background: url(../images/shared/nav/icon_acc_stats.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}

/* ================================================================ 
This copyright notice must be untouched at all times. The original version of this stylesheet and the associated (x)html is available at http://www.cssplay.co.uk/menus/pro_dropline.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved. This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
=================================================================== */

.nav	{
	float: left;
	font-family: Tahoma;
	font-size: 13px;
	height: 38px;
	position: relative;
	width: 600px;
	min-width: 600px;
	z-index: 500;
	}
.nav-divider	{
	background: url(../images/shared/nav/divider.jpg) top no-repeat;
	float: left;
	height: 40px;
	width: 15px;
	}
.nav .table	{
	display: table;
	}
.nav .select,
.nav .current	{
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
	}
.nav li	{
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	}
.nav .select a	{
	background: url(../images/shared/nav/pro_line_0.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 20px 0 20px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a	{
	background: url(../images/shared/nav/pro_line_1.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 0 0 10px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a b	{
	background: url(../images/shared/nav/pro_line_1.gif) right top;
	display: block;
	padding: 0 20px 0 10px;
	}
.nav .select a:hover, 
.nav .select li:hover a	{
	background: url(../images/shared/nav/pro_line_1.gif);
	color: #fff;
	cursor: pointer;
	padding: 0 0 0 10px;
	}
.nav .select a:hover b, 
.nav .select li:hover a b	{
	background: url(../images/shared/nav/pro_line_1.gif) right top;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 20px 0 10px;
	}
.nav .select_sub	{
	display: none;
	margin: 0 0 0 10px;
	}

/* IE6 only */
.nav table	{
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
	}
.nav .sub	{
	display: table;
	list-style: none;
	/* margin: 0 auto; */
	padding: 0;
	}
.nav .sub_active .current_sub a, 
.nav .sub_active a:hover	{
	background: transparent;
	color: #fff;
	}
.nav .select :hover .select_sub, 
.nav .current .show	{
	background: url(../images/shared/nav/back_0.gif);
	 
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 37px;
	width: 750px;
	z-index: 100;
	}
.nav .current .show	{
	z-index: 10;
	}
.nav .select :hover .sub li a, 
.nav .current .show .sub li a	{
	background: transparent;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	white-space: nowrap;
	}
.nav .current .sub li.sub_show a	{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #94b52c;
	cursor: default;
	}
.nav .select :hover .sub li a:hover, 
.nav .current .sub li a:hover	{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #94b52c;
	visibility: visible;
	}
 
	
	
 
 
	
	
/* FOOTER -------------------------------------------------------------- */

 
#footer	{
height: 70px;
	 
	margin: 80px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: left;
	min-width: 780px;
	max-width: 1260px;
	}
#footer-left	{
	color: #818181;
	 
	font-size: 11px;
	line-height: 11px;
	padding: 15px 0 15px 25px;
	margin: 0 20px;
	
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	
	} 
#footer-left a	{
	color: #818181;
	text-decoration: none;
	}
#footer-left 	 a.selected,
#footer-left 	 a:hover	{
	color: #000;
	text-decoration: none;
	}
	
 
 
 
/* GENERAL --------------------------------------------------------*/ 
 table	{
	border-collapse: collapse;
	}
.fr	{
	float: right;
	}
a	{
	outline: none;
	text-decoration: none;
	}
a:hover	{
	}
.clear	{
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	}
img	{
	border: 0;
	}
p	{
	margin: 0px;
	padding: 0px;
	}
form	{
	margin: 0;
	padding: 0;
	}
.line	{
	border-top: 1px solid #dcdada;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
	}
.font11	{
	font-size: 11px;
	}
.error-msg {
    background: url(../images/error-msg-bg.png) repeat-x scroll left top #EFEFEF;
    border: 1px solid #ccc;
    float: left;
    margin: 0px 0px 8px 30px;
    padding: 5px 0 5px 10px;
	display:none;
}
.er {
		padding-top: 7px;
		font-size:12px;
		color:#FFF;
		font-weight:bold;
		
	
	}
